@charset "UTF-8";


.icon-down-dir:before { content: '\25be'; } /* '▾' */
.icon-edit:before { content: '\270d'; } /* '✍' */
.icon-check:before { content: '\2713'; } /* '✓' */
.icon-cancel:before { content: '\2715'; } /* '✕' */
.icon-info-circled:before { content: '\e705'; } /* '' */
.icon-address:before { content: '\e723'; } /* '' */
.icon-location:before { content: '\e724'; } /* '' */
.icon-basket:before { content: '\e73d'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-user:before { content: '👤'; } /* '\1f464' */
.icon-box:before { content: '📦'; } /* '\1f4e6' */
.icon-search:before { content: '🔍'; } /* '\1f50d' */
.icon-key:before { content: '🔑'; } /* '\1f511' */
.icon-lock:before { content: '🔒'; } /* '\1f512' */